@import 'bootstrap/dist/css/bootstrap';
@import "rails_bootstrap_forms";
@import "bootstrap-sprockets";
$enable-responsive-font-sizes: true;

h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
p{
    font-size: 1em;
}

a{
    font-size: 1em;
}

.carousel-item{
    max-height: 60vh !important;
}

.product_img:hover{
    transform: scale(1.1);
}
.card{
    border: none
}

a{
    color: black !important;
}