@import 'bootstrap/dist/css/bootstrap';
@import "rails_bootstrap_forms";
@import "bootstrap-sprockets";
@import "bootstrap";
$enable-responsive-font-sizes: true;

.carousel-item{
    max-height: 60vh !important;
}

.product_img:hover{
    transform: scale(1.1);
}
.card{
    border: none
}

a{
    color: black !important;
}