@import "rails_bootstrap_forms";
@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

$enable-responsive-font-sizes: true;

.carousel-item {
  max-height: 60vh !important;
}

.product_img:hover {
  transform: scale(1.1);
}
.card {
  border: none;
}

a {
  color: black !important;
}




@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
 
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
