

@import "rails_bootstrap_forms";
@import "bootstrap/dist/css/bootstrap";
@import "font-awesome";

// This is an inbuilt bootstrap command 
$enable-responsive-font-sizes: true;

.carousel-item {
  max-height: 60vh !important;
}
.product_img:hover {
  transform: scale(1.1);
}
a {
  color: black !important;
}